/* 방세현 60201940 기초웹프로그래밍 과제4 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

span {
    color: brown;
}

#game {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    width: 500px;
}


#scoreBoard {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #4a4a4a;
}

#wordMeaning {
    margin: 20px 0;
    font-size: 1em;
    color: #4a4a4a;
}

#wordDisplay {
    font-size: 2em;
    margin: 20px 0;
    letter-spacing: 10px;
}

#letterInput {
    padding: 10px;
    width: 180px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: rgb(239, 237, 237);
    color: black;
    border-radius: 5px;
    cursor: pointer;
    border-color: black;
    border-width: 0.5px;
}

button:hover {
    background-color: #b7a8a8;
}

#message {
    margin-top: 20px;
    font-size: 1em;
    color: green;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #0c0909;
    margin-top: 200px;
    font-weight: bold;
}